#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

#export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --with dkms

override_dh_install:
	dh_install src/* usr/src/phytium-$(DEB_VERSION_UPSTREAM)/

override_dh_dkms:
	dh_dkms -p phytium-dkms -- src/dkms.conf
